<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>


<script type="text/javascript">

$(function() {

  $('#color').simplecolorpicker();
  jQuery('#datetimepicker').datetimepicker();
})

</script>


<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя" value="<%= @username %>"> 
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="phone" class="form-control" placeholder="+1 234 567 8901" value="<%= @phone %>">
  </div>


  <div class="form-group">
    <label>Выберите дату</label>
    <input id="datetimepicker" name="datestamp" type="text" class="form-control" placeholder="Введите дату и время" value="<%= @datestamp %>" >
  </div>




<div class="form-group">
    <label for="exampleFormControlSelect1">Выберите барбера</label>
    <select class="form-control" name="barber" #id="exampleFormControlSelect1" type="text">
      <option> Any barber</option>
      <option <%= @barber == 'Walt' ? 'selected' : '' %>>Walt</option>
      <option <%= @barber == 'Jessie' ? 'selected' : '' %>>Jessie</option>
      <option <%= @barber == 'Gus' ? 'selected' : '' %>>Gus</option>
    </select>
    <div class="form-helper">Или выберите Any barber</div>

  </div>

<div class="form-group">
    <label>Выберите цвет</label>
  <select id="color" name="color">
    <option value="#7bd148">Green</option>
    <option value="#5484ed">Bold blue</option>
    <option value="#a4bdfc">Blue</option>
    <option value="#46d6db">Turquoise</option>
    <option value="#e1e1e1">Gray</option>
  </select>
</div>



  <button type="submit" class="btn btn-primary">Записаться</button>

</form>


<script type="text/javascript">
//alert ('hello from visit page') tak pisat menee pravilno chem v stroke 58. etot skript ispolnitsya posle zafruzke stranitsy
//$('#color').simplecolorpicker();
jQuery('#datetimepicker').datetimepicker();
</script>





