<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>


<script type="text/javascript">

$(function() {

  $('#color').simplecolorpicker();
})

</script>

<script type="text/javascript">
  $(function () {
    // идентификатор элемента (например: #datetimepicker1), для которого необходимо инициализировать виджет Bootstrap DateTimePicker
    $('#datetimepicker1').datetimepicker();
  });
</script>

<script type="text/javascript">
  $(function () {
    // идентификатор элемента (например: #datetimepicker1), для которого необходимо инициализировать виджет Bootstrap DateTimePicker
    $('#datetimepicker2').datetimepicker({ daysOfWeekDisabled: [0, 6]});

  });
</script>


<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя" value="<%= @username %>"> 
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="phone" class="form-control" placeholder="+1 234 567 8901" value="<%= @phone %>">
  </div>


  <!-- <div class="form-group">
    <label for="inputDate">Выберите дату</label>
    <input name="datestamp" type="text" class="form-control" id="datetimepicker1" class="form-control" value="<%= @datestamp %>" >
  </div> -->

  <div class="form-group">
  <label for="inputDate">Выберите дату</label>

  <!-- элемент input с id = datetimepicker2 -->
  <div class="input-group" id="datetimepicker2">
    <input name="datestamp" type="text" class="form-control" value="<%= @datestamp %>"/>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>




<div class="form-group">
    <label for="exampleFormControlSelect1">Выберите барбера</label>
    <div class="form-helper">Или оставьте Any barber</div>

    <select class="form-control" name="barber" #id="exampleFormControlSelect1" type="text">
      <option> Any barber</option>
      <option <%= @barber == 'Walt' ? 'selected' : '' %>>Walt</option>
      <option <%= @barber == 'Jessie' ? 'selected' : '' %>>Jessie</option>
      <option <%= @barber == 'Gus' ? 'selected' : '' %>>Gus</option>
    </select>
  </div>

<div class="form-group">
    <label>Выберите цвет</label>
  <select id="color" name="color">
    <option value="#7bd148">Green</option>
    <option value="#5484ed">Bold blue</option>
    <option value="#a4bdfc">Blue</option>
    <option value="#46d6db">Turquoise</option>
    <option value="#e1e1e1">Gray</option>
  </select>
</div>



  <button type="submit" class="btn btn-primary">Записаться</button>

</form>


<script type="text/javascript">
</script>





